<footer class="page-footer font-small blue" style="background-color: blue; color: white; padding: 10px;">
  <!-- Social Media Links -->
  <div class="social-links text-center py-2">
    <a
      href="https://github.com/radualexandrub/SpringBoot-Angular-EmployeeManagerApp#running-the-app-locally"
      target="_blank"
      title="See the code on GitHub"
      style="margin: 0 10px; color: white; text-decoration: none;"
      ><i class="fa fa-github fa-2x"></i></a>
    <a
      href="https://twitter.com"
      target="_blank"
      title="Follow on Twitter"
      style="margin: 0 10px; color: white; text-decoration: none;"
      ><i class="fa fa-twitter fa-2x"></i></a>
    <a
      href="https://linkedin.com"
      target="_blank"
      title="Connect on LinkedIn"
      style="margin: 0 10px; color: white; text-decoration: none;"
      ><i class="fa fa-linkedin fa-2x"></i></a>
  </div>

  <!-- Divider -->
  <hr style="background-color: white; margin: 5px 0;" />

  <!-- App Information -->
  <div class="text-center py-2">
    <p style="margin: 5px;">
      Employee Manager App powered by
      <a href="https://angular.io/" target="_blank" style="color: #f8d210;">Angular</a> &amp;
      <a href="https://spring.io/projects/spring-boot" target="_blank" style="color: #f8d210;">Spring Boot</a>
    </p>
  </div>

  <!-- Divider -->
  <hr style="background-color: white; margin: 5px 0;" />
</footer>
